body { /*全体*/
    margin: 0 auto;
    background-color: #f8f8f8;
}

header { /*ヘッダー*/
    width: 100%;
    height: 80px;
    box-shadow: 2px 2px 4px lightgray;
    background-color: white;
    text-align: center;
}

    header img { /*ヘッダー内画像*/
        height: 50px;
        margin-top: 15px;
        padding-left: 40px;
    }

.logout { /*ヘッダー　文字*/
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 14px;
}

main { /*メイン全体*/
    clear: left;
    width: 100%;
}

.kakunin_flame { /*フォーム枠の設定*/
    margin: 0 auto;
    width: 800px;
    border: 2px solid lightgray;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px lightgray;
    background-color: white;
}

.form_contents { /*フォーム枠内の要素全体*/
    margin: 30px 25px 30px 25px;
}

h2 { /*フォームのタイトル*/
    text-align: center;
    border-bottom: 1px solid #31A263;
    font-size: 20px;
}

.aisatsu { /*会員へのメッセ*/
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
}

.profile_pic { /*登録した画像全体*/
    float: left;
    border: 1px solid lightgray;
    margin: 30px 30px 40px 40px;
}

.form_contents img { /*登録した画像そのもの*/
    width: 150px;
}

.menber_info { /*登録内容表示全体*/
    margin: 25px;
    text-align: left;
    font-size: 13px;
}

.basic_info p { /*登録内容　個別*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.commentText { /*登録コメント単体*/
    clear: left;
    margin-bottom: 10px;
    padding: 10px 0px 20px 20px;
    font-size: 14px;
}

.button { /*ボタン全体*/
    text-align: center;
}

.edit_button { /*編集ボタン個別*/
    display: inline-block;
    width: 150px;
    border: 1px solid lightgray;
    border-bottom: 2px solid gray;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #31A263;
    color: white;
}

footer { /*フッター*/
    width: 100%;
    height: 40px;
    border-top: 2px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: gray;
}
