body { /*全体*/
    margin: 0 auto;
    background-color: #f8f8f8;
}

header { /*ヘッダー*/
    width: 100%;
    height: 80px;
    box-shadow: 2px 2px 4px lightgray;
    background-color: white;
    text-align: center;
}

    header img { /*ヘッダー内画像*/
        height: 50px;
        margin-top: 15px;
        padding-left: 40px;
    }

.login { /*ヘッダー　文字*/
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 14px;
}

main { /*メイン全体*/
    clear: left;
    width: 100%;
}

form { /*フォーム枠の設定*/
    margin: 0 auto;
    width: 600px;
    border: 2px solid lightgray;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px lightgray;
    background-color: white;
}

.form_contents { /*フォームの要素全体*/
    margin: 30px 25px 30px 25px;
}
/*マージンの設定順は↑から時計回り*/

h2 { /*フォームのタイトル*/
    text-align: center;
    border-bottom: 1px solid #31A263;
    font-size: 20px;
}

label { /*フォームの各欄の名称*/
    display: inline-block;
    font-size: 13px;
}

.hissu { /*必須欄である事の説明*/
    display: inline-block;
    width: 40px;
    margin-right: 5px;
    border-radius: 4px;
    background-color: #31A263;
    text-align: center;
    font-size: 13px;
    color: white;
}

.name, .mail, .password, .picture, .comments { /*各欄の全体*/
    margin: 25px;
    text-align: left;
}

.formbox { /*フォームの入力枠*/
    border: 1px solid #dfdfdf;
    padding: 5px;
    background: #fff;
    color: #999;
}

.toroku { /*登録ボタン全体*/
    text-align: center;
}

.submit_button { /*登録ボタンそのもの*/
    width: 200px;
    border: 1px solid lightgray;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
    padding: 6px 60px 4px 60px;
    border-radius: 5px;
    background-color: #31A263;
    color: white;
}

footer { /*フッター*/
    width: 100%;
    height: 40px;
    border-top: 2px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: gray;
}

/*● after_register.html用●*/

.kakunin_flame { /*フォーム枠の設定*/
    margin: 0 auto;
    width: 600px;
    border: 2px solid lightgray;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px lightgray;
    background-color: white;
}

.kakunin { /*記入内容が正しいか聞く文*/
    text-align: center;
    font-size: 12px;
}
